<div class="select-container">
  <label class="label">Select</label>

  <div
    tabindex="0"
    class="custom-select"
    [class.open]="isOpen"
    [class.disabled]="disabled"
    (click)="toggleDropdown()"
    (keydown)="onKeyDown($event)"
  >
    <div class="selected-value" [class.placeholder]="!selectedLabel">
      {{ selectedLabel || 'Choose an option' }}
    </div>
    <mat-icon class="dropdown-icon">arrow_drop_down</mat-icon>

    <ul class="options-list" *ngIf="isOpen && !disabled">
      @for(item of items; let i = $index; track item.value) {
        <li
          class="option"
          [class.selected]="item.value === selectedValue"
          [class.focused]="focusedIndex === i"
          (click)="selectOption(item)"
        >
          <span class="option-content">
            @if(item.value === selectedValue) {
              <mat-icon class="icon-check visible">check</mat-icon>
            }
            {{ item.label }}
          </span>
        </li>
      }
    </ul>
  </div>
</div>
